/*.button-class {
  background-color: #ded4d4;
  color: black;
  border: none;
  text-align: center;
  margin: 8px 4px;
  font-size: 18px;
  display: block;
}*/

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  background: #fff;
  padding: 15px;
  width: 100%;
  text-align: left;
}

.modal-close {
  float: right;
  color: #777;
}
